$white: #FFFFFF;
$lGrey:#F1F1F1;
$grey:#999999;

@mixin border{
	border:1px solid #CCCCCC;
	border-radius: 5px;
}
body{
	margin:0;
	padding:0;
	font-size: 16px;
	background: $lGrey;
}
.bold{
	font-weight: bold;
}
.fixed{
	position: fixed;
	right: 6.6%;
    width: 21.7%;
    bottom:  4%;
    overflow: hidden;
}
/*paper*/
#content{
	height: 500px;
	margin-top: 35px;
	.papers{
		padding-left: 0;
		margin-bottom: 50px;
		transition:top 1s ease-out 0.5s;
		.newPaper{
			background: $white;
			height: 100%;
			padding:25px;
			@include border;
			margin-bottom: 15px;

		}
	}
	.jobBoard{
		margin-bottom: 55px;
		padding: 0;
		.newJobs{
			background: $white;
			padding: 25px;
			@include border;
			margin-bottom: 10px;
			.job{
				h5{
					color:#cccccc;
					font-size: 14px;
					font-weight: 700;
					margin-bottom: 30px;
				}
				.jobInfo{
					margin-bottom: 30px;
					a{
						color:#6288a5;
						font-weight: 700;
						font-size: 14px;
						margin-bottom: 15px;
					}
					span{
						font-size: 12px;
						color:#cccccc;
					}
				}
				.advertise{
					font-size: 10px;
					background: $grey;
					color:$white;

					i{
						margin-left: 5px;
					}
				}
			}
		}
	}
}
/*content animation*/
 .animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -40px, 0);
    transform: translate3d(0, -40px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;

}
