// Mixin
@mixin image-icon($value){

}
#image{
  width: 200px;
  .image{
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    img{
      position: absolute;
      left: -25%;
      height: 200px;
    }
  }
}
