.c-signup {
    background: #fff !important;
}

.DesignSystem .u-mt3x {
    margin-top: 12px !important;
}

.DesignSystem .u-mb6x {
    margin-bottom: 24px !important;
}

.DesignSystem .u-pt3x {
    padding-top: 12px !important;
}

.DesignSystem .u-pb5x {
    padding-bottom: 20px !important;
}

.DesignSystem .u-mv3x {
    margin-top: 12px !important;
    margin-bottom: 12px !important;
}