.marginClear {
  margin: 0; }

.paddingClear {
  padding: 0; }

.bgColorWhite {
  background-color: #fff !important; }

.bgColorGray {
  background-color: #F1F1F1; }

.triangle {
  position: relative; }
  .triangle:before {
    content: "";
    display: block;
    position: absolute;
    background-color: #fff;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    transform: rotate(45deg);
    width: 12px;
    height: 12px;
    top: 38px;
    left: calc(50% - 4.898979px); }

/*papers add prevew*/
.paperAdd {
  margin-bottom: 25px; }
  .paperAdd i {
    padding: 10px;
    border-radius: 3px;
    background: #CCCCCC;
    color: #FFFFFF; }
  .paperAdd h5 {
    display: inline-block;
    color: #CCCCCC; }
    .paperAdd h5 a {
      color: #999999; }
  .paperAdd span {
    font-size: 12px;
    color: #F1F1F1; }

.paperTitle {
  margin-bottom: 25px; }
  .paperTitle a {
    font-size: 22px;
    color: #4B4B4B; }

.paperText {
  height: 60px;
  overflow: hidden;
  margin-bottom: 20px; }
  .paperText p {
    color: #929292;
    font-size: 14px; }

.moreButton {
  font-size: 12px;
  background: #FFFFFF;
  border: 1px solid #F1F1F1;
  color: #95AC4E;
  outline-style: none; }
  .moreButton:hover {
    color: #FFFFFF;
    background: #cccccc; }

.paperMenu {
  margin-bottom: 20px; }
  .paperMenu .papA {
    height: 35px;
    background: #FFFFFF;
    font-size: 12px;
    padding: 10px;
    border-radius: 3px;
    margin-right: 5px; }
    .paperMenu .papA i {
      margin-right: 5px; }
    .paperMenu .papA:first-child {
      color: #6288A5; }
      .paperMenu .papA:first-child:hover {
        color: #FFFFFF;
        background: #6288A5; }
    .paperMenu .papA:nth-child(2) {
      color: #95AC4E; }
      .paperMenu .papA:nth-child(2):hover {
        color: #FFFFFF;
        background: #95AC4E; }
  .paperMenu h5 {
    display: inline-block;
    color: #CCCCCC; }
    .paperMenu h5 a {
      color: #999999; }
    .paperMenu h5 i {
      margin: 0 6px; }

.custom-pagination {
  display: inline-block;
  padding-top: 30px; }
  .custom-pagination li {
    padding: 0; }
    .custom-pagination li a {
      font-size: 13px;
      text-decoration: none;
      color: #999;
      padding: 6px 12px; }
      .custom-pagination li a:hover {
        color: black;
        font-weight: 700; }

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background: #F1F1F1; }

.bold {
  font-weight: bold; }

/*footer*/
#footer {
  padding: 10px;
  background: #F1F1F1; }
  #footer ul {
    margin: 0; }
    #footer ul li {
      display: inline-block;
      margin-right: 10px;
      color: #999999; }
      #footer ul li a {
        margin-left: 5px;
        color: #999999;
        padding-top: 10px;
        padding-bottom: 10px; }
  #footer h5 {
    font-size: 12px;
    color: #999999; }

/*  Navbar */
/* adjust body when menu is open */
body.slide-active {
  overflow-x: hidden; }

/*first child of #page-content so it doesn't shift around*/
.no-margin-top {
  margin-top: 0px !important; }

.nav-link {
  color: #555;
  text-transform: uppercase;
  line-height: 70px;
  font-weight: 700;
  font-size: 12px; }
  .nav-link:hover {
    background-color: transparent; }
  .nav-link:focus {
    background-color: transparent; }

#page-content {
  position: relative; }

#nav {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  /* put toggle bars on the left :: not using button */ }
  #nav #slide-nav {
    /* icon bar prettyup - optional */ }
    #nav #slide-nav .navbar-toggle {
      cursor: pointer;
      position: relative;
      line-height: 0;
      float: left;
      margin: 0;
      width: 30px;
      height: 40px;
      padding: 10px 0 0 0;
      border: 0; }
    #nav #slide-nav .navbar-toggle .icon-bar {
      width: 100%;
      display: block;
      height: 3px;
      margin: 5px 0 0 0;
      background: #777; }
    #nav #slide-nav .navbar-toggle .slide-active .icon-bar {
      background: #777; }
  #nav .navbar-header {
    position: relative; }
  #nav .nav-hidden {
    display: none; }
  #nav #navbar-collapse {
    font-size: 14px;
    color: #777 !important; }
    #nav #navbar-collapse li a {
      color: #777;
      transition: color .25s ease,background-color .25s ease;
      font-weight: 500; }
      #nav #navbar-collapse li a:hover {
        color: #fff;
        background-color: #999; }
    #nav #navbar-collapse i {
      font-size: 20px;
      padding-right: 15px; }
    #nav #navbar-collapse .user-name {
      padding-top: 16px; }
      #nav #navbar-collapse .user-name:hover {
        background-color: transparent;
        color: inherit; }
    #nav #navbar-collapse .profileImg {
      margin: 8px 0 8px 6px; }
  #nav .navbar {
    height: auto;
    padding: 9px;
    margin-bottom: 0; }
    #nav .navbar .navbar-form {
      display: inline-block; }
      #nav .navbar .navbar-form .form-group {
        position: relative;
        color: #999; }
        #nav .navbar .navbar-form .form-group .fa {
          position: absolute;
          top: calc(50% - 7px);
          left: 10px;
          font-weight: 700; }
        #nav .navbar .navbar-form .form-group input {
          padding: 6px 12px 6px 34px;
          font-size: 14px;
          width: 360px; }
  #nav .upload {
    padding: 0 18px;
    font-weight: bold;
    font-size: 11px;
    color: #92aa4a;
    border: 1px solid #92aa4a;
    line-height: 36px; }
    #nav .upload:hover {
      color: #FFFFFF;
      background: #95AC4E; }
  #nav .button {
    border-radius: 3px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    margin: 8px 5px; }
  #nav .button-notif {
    padding: 8px;
    font-size: 16px; }
    #nav .button-notif:hover {
      color: #FFFFFF;
      background: #999999; }

.profileImg {
  width: 38px;
  height: 38px;
  margin: 8px 5px; }
  .profileImg .collapseMenu {
    padding: 0; }
  .profileImg img {
    width: 100%;
    height: 100%;
    border-radius: 5px; }
  .profileImg .triangle {
    position: absolute; }
    .profileImg .triangle:before {
      top: -7px;
      left: 128px;
      z-index: -1; }
  .profileImg ul {
    display: none;
    position: absolute;
    top: 72px;
    right: 10%;
    width: 154px;
    background: #fff;
    margin: 0;
    padding: 5px 0;
    z-index: 10;
    list-style: none;
    font-size: 12px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1); }
    .profileImg ul li a {
      color: #999999;
      text-decoration: none; }
      .profileImg ul li a div {
        width: 154px;
        height: 30px;
        border-bottom: 1px solid #F1F1F1;
        padding-top: 5px;
        padding-left: 5px; }
        .profileImg ul li a div:hover {
          background: #cce6ff;
          color: #FFFFFF; }

@media (max-width: 767px) {
  .form-control {
    width: 100% !important; } }

/* screw writing importants and shit, just stick it in max width since these classes are not shared between sizes */
@media (max-width: 767px) {
  #slide-nav {
    border-top: 0; }
    #slide-nav .navbar-form {
      width: 100%;
      margin: 8px 0;
      text-align: center;
      overflow: hidden;
      /*fast clearfixer*/ }
      #slide-nav .navbar-form .navbar-form .btn {
        width: 100%; }
    #slide-nav .container {
      margin: 0 !important;
      padding: 0 !important;
      height: 100%; }
    #slide-nav .navbar-header {
      margin: 0 auto;
      padding: 0 15px; }
    #slide-nav .navbar .slide-active {
      position: absolute;
      width: 80%;
      top: -1px;
      z-index: 1000; }
    #slide-nav #slidemenu {
      background: #f7f7f7;
      left: -100%;
      width: 70%;
      min-width: 0;
      position: absolute;
      padding-left: 0;
      z-index: 2;
      top: -8px;
      margin: 0; }
      #slide-nav #slidemenu .navbar-nav {
        min-width: 0;
        width: 100%;
        margin: 0; }
        #slide-nav #slidemenu .navbar-nav .dropdown-menu li a {
          min-width: 0;
          width: 80%;
          white-space: normal; }
  /* this is behind the navigation but the navigation is not inside it so that the navigation is accessible and scrolls*/
  #navbar-height-col {
    position: fixed;
    top: 0;
    height: 100%;
    bottom: 0;
    width: 70%;
    left: -80%;
    background: #f7f7f7; } }

@media (min-width: 768px) {
  #page-content {
    left: 0 !important; }
  .navbar-header {
    left: 0 !important; }
  #navbar-collapse {
    display: none; } }

@media (max-width: 768px) {
  #navbar-desktop {
    display: none; } }

@media (max-width: 998px) and (min-width: 768px) {
  .navbar .navbar-form .form-control {
    width: 250px !important; } }

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background: #F1F1F1; }

.bold {
  font-weight: bold; }

/*headermenu*/
#head {
  width: 100%;
  height: 75px;
  background: #FFFFFF;
  padding-top: 15px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1); }
  #head .logoSearch input[type=text] {
    width: 358px;
    height: 35px;
    border: 1px solid #F1F1F1;
    border-radius: 3px;
    outline-style: none;
    padding-left: 40px;
    margin-right: 220px; }
  #head .logoSearch a:nth-child(2) {
    position: relative;
    padding: 7px;
    background: white;
    left: 40px;
    text-decoration: none;
    color: #999999; }
  #head .headMenu {
    margin-right: 20px; }
    #head .headMenu ul li {
      font-size: 12px; }
      #head .headMenu ul li a {
        color: #999999; }
  #head .headButton .greenBtn {
    padding: 10px !important;
    color: #95AC4E !important; }
    #head .headButton .greenBtn:hover {
      color: #FFFFFF !important;
      background: #95AC4E !important; }
  #head .headButton .notif {
    color: #999999;
    border: 1px solid #F1F1F1;
    font-size: 12px;
    padding: 12px;
    margin-right: 5px;
    background: #FFFFFF; }
    #head .headButton .notif i {
      margin-right: 5px; }
    #head .headButton .notif:hover {
      color: #FFFFFF;
      background: #999999; }
  #head .headButton .profileImg {
    width: 38px;
    height: 38px; }
    #head .headButton .profileImg .collapseMenu {
      padding: 0; }
    #head .headButton .profileImg img {
      width: 100%;
      height: 100%;
      border-radius: 5px; }
    #head .headButton .profileImg .triangle {
      position: absolute; }
      #head .headButton .profileImg .triangle:before {
        top: -7px;
        left: 128px;
        z-index: -1; }
    #head .headButton .profileImg ul {
      display: none;
      position: absolute;
      top: 72px;
      right: 88px;
      width: 154px;
      background: #fff;
      margin: 0;
      padding: 5px 0;
      z-index: 10;
      list-style: none;
      font-size: 12px;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1); }
      #head .headButton .profileImg ul li a {
        color: #999999;
        text-decoration: none; }
        #head .headButton .profileImg ul li a div {
          width: 154px;
          height: 30px;
          border-bottom: 1px solid #F1F1F1;
          padding-top: 5px;
          padding-left: 5px; }
          #head .headButton .profileImg ul li a div:hover {
            background: #cce6ff;
            color: #FFFFFF; }

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background: #F1F1F1; }

.bold {
  font-weight: bold; }

.fixed {
  position: fixed;
  right: 6.6%;
  width: 21.7%;
  bottom: 4%;
  overflow: hidden; }

/*paper*/
#content {
  height: 500px;
  margin-top: 35px; }
  #content .papers {
    padding-left: 0;
    margin-bottom: 50px;
    transition: top 1s ease-out 0.5s; }
    #content .papers .newPaper {
      background: #FFFFFF;
      height: 100%;
      padding: 25px;
      border: 1px solid #CCCCCC;
      border-radius: 5px;
      margin-bottom: 15px; }
  #content .jobBoard {
    margin-bottom: 55px;
    padding: 0; }
    #content .jobBoard .newJobs {
      background: #FFFFFF;
      padding: 25px;
      border: 1px solid #CCCCCC;
      border-radius: 5px;
      margin-bottom: 10px; }
      #content .jobBoard .newJobs .job h5 {
        color: #cccccc;
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 30px; }
      #content .jobBoard .newJobs .job .jobInfo {
        margin-bottom: 30px; }
        #content .jobBoard .newJobs .job .jobInfo a {
          color: #6288a5;
          font-weight: 700;
          font-size: 14px;
          margin-bottom: 15px; }
        #content .jobBoard .newJobs .job .jobInfo span {
          font-size: 12px;
          color: #cccccc; }
      #content .jobBoard .newJobs .job .advertise {
        font-size: 10px;
        background: #999999;
        color: #FFFFFF; }
        #content .jobBoard .newJobs .job .advertise i {
          margin-left: 5px; }

/*content animation*/
.animated {
  animation-duration: 1s;
  animation-fill-mode: both; }

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -40px, 0); }
  to {
    opacity: 1;
    transform: none; } }

.fadeInDown {
  animation-name: fadeInDown; }

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background: #F1F1F1; }

.bold {
  font-weight: bold; }

/*headermenu*/
#head {
  width: 100%;
  height: 75px;
  background: #FFFFFF;
  padding-top: 15px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1); }
  #head .logoSearch input[type=text] {
    width: 358px;
    height: 35px;
    border: 1px solid #F1F1F1;
    border-radius: 3px;
    outline-style: none;
    padding-left: 40px;
    margin-right: 220px; }
  #head .logoSearch a:nth-child(2) {
    position: relative;
    padding: 7px;
    background: white;
    left: 40px;
    text-decoration: none;
    color: #999999; }
  #head .headMenu {
    margin-right: 20px; }
    #head .headMenu ul li {
      font-size: 12px; }
      #head .headMenu ul li a {
        color: #999999; }
  #head .headButton .greenBtn {
    padding: 10px !important;
    color: #95AC4E !important; }
    #head .headButton .greenBtn:hover {
      color: #FFFFFF !important;
      background: #95AC4E !important; }
  #head .headButton .notif {
    color: #999999;
    border: 1px solid #F1F1F1;
    font-size: 12px;
    padding: 12px;
    margin-right: 5px;
    background: #FFFFFF; }
    #head .headButton .notif i {
      margin-right: 5px; }
    #head .headButton .notif:hover {
      color: #FFFFFF;
      background: #999999; }
  #head .headButton .profileImg {
    width: 38px;
    height: 38px; }
    #head .headButton .profileImg .collapseMenu {
      padding: 0; }
    #head .headButton .profileImg img {
      width: 100%;
      height: 100%;
      border-radius: 5px; }
    #head .headButton .profileImg .triangle {
      position: absolute; }
      #head .headButton .profileImg .triangle:before {
        top: -7px;
        left: 128px;
        z-index: -1; }
    #head .headButton .profileImg ul {
      display: none;
      position: absolute;
      top: 72px;
      right: 88px;
      width: 154px;
      background: #fff;
      margin: 0;
      padding: 5px 0;
      z-index: 10;
      list-style: none;
      font-size: 12px;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1); }
      #head .headButton .profileImg ul li a {
        color: #999999;
        text-decoration: none; }
        #head .headButton .profileImg ul li a div {
          width: 154px;
          height: 30px;
          border-bottom: 1px solid #F1F1F1;
          padding-top: 5px;
          padding-left: 5px; }
          #head .headButton .profileImg ul li a div:hover {
            background: #cce6ff;
            color: #FFFFFF; }

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background: #F1F1F1; }

.bold {
  font-weight: bold; }

.fixed {
  position: fixed;
  right: 6.6%;
  width: 21.7%;
  bottom: 4%;
  overflow: hidden; }

/*paper*/
#content {
  height: 500px;
  margin-top: 35px; }
  #content .papers {
    padding-left: 0;
    margin-bottom: 50px;
    transition: top 1s ease-out 0.5s; }
    #content .papers .newPaper {
      background: #FFFFFF;
      height: 100%;
      padding: 25px;
      border: 1px solid #CCCCCC;
      border-radius: 5px;
      margin-bottom: 15px; }
  #content .jobBoard {
    margin-bottom: 55px;
    padding: 0; }
    #content .jobBoard .newJobs {
      background: #FFFFFF;
      padding: 25px;
      border: 1px solid #CCCCCC;
      border-radius: 5px;
      margin-bottom: 10px; }
      #content .jobBoard .newJobs .job h5 {
        color: #cccccc;
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 30px; }
      #content .jobBoard .newJobs .job .jobInfo {
        margin-bottom: 30px; }
        #content .jobBoard .newJobs .job .jobInfo a {
          color: #6288a5;
          font-weight: 700;
          font-size: 14px;
          margin-bottom: 15px; }
        #content .jobBoard .newJobs .job .jobInfo span {
          font-size: 12px;
          color: #cccccc; }
      #content .jobBoard .newJobs .job .advertise {
        font-size: 10px;
        background: #999999;
        color: #FFFFFF; }
        #content .jobBoard .newJobs .job .advertise i {
          margin-left: 5px; }

/*content animation*/
.animated {
  animation-duration: 1s;
  animation-fill-mode: both; }

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -40px, 0); }
  to {
    opacity: 1;
    transform: none; } }

.fadeInDown {
  animation-name: fadeInDown; }

.navig {
  display: none;
  list-style: none;
  padding: 0; }

.navig,
#touch-menu {
  background: #3e4156; }

.navig li {
  float: left; }

.navig li a,
#touch-menu {
  display: block;
  padding: 10px 15px;
  font-weight: bold;
  font-size: 14px;
  color: #fff; }

.navig li a:hover,
#touch-menu:hover {
  background: #515572; }

#touch-menu {
  display: none; }

@media (max-width: 768px) {
  .jobBoard {
    display: none; }
  .navBig {
    display: none; }
  .navig {
    display: none; }
  .navig li {
    float: none; }
  .navig li a {
    border-top: 1px solid #eee;
    border-left: 3px solid transparent;
    background: #fff;
    color: #666; }
  .navig li:first-child a {
    border-top: none; }
  .navig li a:hover {
    background: #f0f0f0;
    color: #444;
    border-left: 3px solid #515572; }
  #touch-menu {
    display: block; } }

.a-landing {
  background: #fff !important; }

body {
  font-family: "Roboto",Roboto,"Helvetica Neue",sans-serif;
  font-size: 14px !important;
  line-height: 1.428571429em;
  font-weight: 400;
  color: #494848;
  -webkit-font-smoothing: subpixel-antialiased;
  overflow-y: scroll;
  margin: 0; }

.DesignSystem {
  font-family: "Roboto",Helvetica,Arial,sans-serif;
  color: #333;
  font-size: 14px; }

.DesignSystem .container {
  max-height: 800px; }

.DesignSystem .Header {
  margin-top: 36px; }

.DesignSystem .u-floatLeft {
  float: left !important; }

.DesignSystem .Logo {
  margin-top: 9px; }

.DesignSystem .u-floatRight {
  float: right !important; }

.DesignSystem .Button--inverseGray {
  background-color: transparent;
  color: #999; }

.DesignSystem .Button--inverseGray:hover {
  color: #fff;
  background-color: #999; }

.DesignSystem .Button:hover {
  text-decoration: none; }

.DesignSystem .Button:focus {
  outline: 0;
  box-shadow: 0 4px 2px -2px #ccc; }

.DesignSystem .Button--sm {
  height: 36px;
  line-height: 36px;
  font-size: 11px;
  padding: 0 18px;
  letter-spacing: 1.15px; }

.DesignSystem .Button {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.15);
  vertical-align: bottom;
  white-space: nowrap;
  text-rendering: auto;
  box-sizing: border-box;
  border-radius: 3px;
  font-family: "Roboto",Helvetica,Arial,sans-serif;
  font-weight: bold;
  font-style: normal;
  transition: color .25s ease,background-color .25s ease; }

.DesignSystem .Content {
  max-width: 1140px; }

.h-positionAbsoluteVCenter {
  padding-top: 50px;
  padding-bottom: 30px;
  padding-right: 0px !important;
  padding-left: 0px !important; }

.DesignSystem .Media:first-child {
  margin-top: 0; }

.DesignSystem .Media {
  overflow: visible !important; }

.DesignSystem .Media--middle {
  vertical-align: middle; }

.DesignSystem .Media-body, .DesignSystem .Media--left, .DesignSystem .Media--right {
  display: table-cell; }

.DesignSystem .Media--left {
  padding-right: 14px; }

.DesignSystem .Media-body {
  width: 10000px; }

.DesignSystem .Headline {
  font-size: 46px;
  line-height: 1.2em; }

.DesignSystem .u-fontSerif {
  font-family: "Georgia",serif !important; }

.DesignSystem .u-mt0x {
  margin-top: 0 !important; }

h1 {
  margin-bottom: 10px;
  font-weight: 500;
  color: inherit;
  display: block; }

.DesignSystem .Subhead {
  font-size: 18px;
  line-height: 1.4em; }

.DesignSystem .u-tcGrayDarker {
  color: #777 !important; }

.DesignSystem .u-fw300 {
  font-weight: 300 !important; }

.DesignSystem .u-linkUnstyled {
  color: inherit; }

.DesignSystem .u-textDecorationUnderline {
  text-decoration: underline !important; }

.DesignSystem .u-mt8x {
  margin-top: 32px !important; }

.DesignSystem .u-fs11 {
  font-size: 11px !important; }

.DesignSystem .u-ph3x {
  padding-right: 12px !important;
  padding-left: 12px !important; }

.DesignSystem .Button--google {
  background-color: #dd4b39;
  color: #fff; }

.DesignSystem .Button--google:hover {
  background-color: #c23321;
  color: #fff;
  text-decoration: none; }

.DesignSystem .Button--block {
  display: block;
  width: 100%; }

.DesignSystem .Button--lg {
  height: 52px;
  line-height: 52px;
  font-size: 13px;
  padding: 0 28px;
  letter-spacing: 1.5px; }

.DesignSystem .u-mr5x {
  margin-right: 20px !important; }

.DesignSystem .Button--facebook {
  background-color: #3b5998;
  color: #fff; }

.DesignSystem .Button--facebook:hover {
  background-color: #2d4373;
  color: #fff;
  text-decoration: none; }

.DesignSystem .u-mt8x {
  margin-top: 32px !important; }

.DesignSystem .u-taCenter {
  text-align: center !important; }

.DesignSystem .u-tcGray {
  color: #ccc !important; }

.DesignSystem .Media--middle {
  vertical-align: middle; }

.DesignSystem .Media--right {
  display: table-cell; }

.DesignSystem .Media--right {
  padding-left: 14px; }

.DesignSystem .Media-object {
  display: block; }

.DesignSystem .CitationIllustration {
  width: 500px;
  height: 500px; }

@media screen and (min-width: 1200px) {
  .DesignSystem .CitationIllustration {
    position: relative;
    right: -40px; } }

@media screen and (max-height: 800px) {
  .DesignSystem .CitationIllustration {
    height: 400px;
    width: 400px; } }

@media screen and (min-width: 1200px) {
  .DesignSystem .CitationIllustration {
    position: relative;
    right: -40px; } }

.footer-content {
  width: 1014px; }

.padding-top-7x, .padding-vertical-7x {
  padding-top: 28px; }

.text-center {
  text-align: center; }

.footer-links-secondary {
  color: #9c9c9c; }

.margin-bottom-1x, .margin-vertical-1x {
  margin-bottom: 4px; }

.list-inline {
  margin-left: -5px;
  padding-left: 0;
  list-style: none; }

ul, ol {
  margin-top: 0; }

.footer-links-wide li, .bootstrap .footer-links-wide li {
  font-size: 13px;
  line-height: 15px;
  padding: 0 10px; }

.footer-links-secondary li, .footer-links-secondary a, .footer-links-secondary a:link, .footer-links-secondary a:visited {
  color: #9c9c9c; }

.footer-links-tertiary {
  color: #ccc; }

.footer-links-tertiary li, .footer-links-tertiary a, .footer-links-tertiary a:link, .footer-links-tertiary a:visited {
  color: #ccc; }

a:hover, a:focus {
  color: #2a6496;
  text-decoration: underline; }

a {
  background: transparent; }

@media screen and (max-width: 962px) {
  .DesignSystem .Headline {
    font-size: 27px; } }

@media screen and (max-width: 1140px) {
  .DesignSystem .Headline {
    font-size: 32px; } }

@media screen and (max-width: 1200px) {
  .DesignSystem .Headline {
    font-size: 38px; } }

@media screen and (max-width: 1140px) {
  .DesignSystem .Subhead {
    font-size: 16px; } }

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important; } }

@media (max-width: 767px) {
  .visible-xs {
    display: block !important; } }

.DesignSystem .u-mt4x {
  margin-top: 16px !important; }

.DesignSystem .Media, .DesignSystem .Media-body {
  overflow: hidden;
  zoom: 1; }

.list-unstyled {
  padding-left: 0;
  list-style: none; }

@media screen and (max-width: 420px) {
  .DesignSystem .Subhead {
    font-size: 14px; } }

@media screen and (max-width: 420px) {
  .DesignSystem .Headline {
    font-size: 21px; } }

@media screen and (max-width: 420px) {
  .DesignSystem .Content {
    position: relative;
    margin-top: 36px;
    top: auto;
    transform: none; } }

@media screen and (max-width: 420px) {
  .DesignSystem .Header {
    margin-top: 15px; } }

.u-linkUnstyled:hover {
  color: inherit !important; }

@media screen and (max-width: 420px) {
  .DesignSystem .Content {
    position: relative;
    top: auto;
    -ms-transform: 0px;
    padding-bottom: 0px;
    padding-top: 40px;
    transform: none;
    overflow: hidden; } }

@media screen and (max-width: 420px) {
  .DesignSystem .Media--left {
    padding-left: 14px; } }

@media screen and (max-width: 767px) {
  .DesignSystem .Media--left {
    padding-left: 14px; } }

.c-sessions {
  background: #fff !important; }

body, div {
  display: block; }

.Content1 {
  max-width: 530px; }

.DesignSystem .u-mt2x {
  margin-top: 8px !important; }

.DesignSystem .u-p0x {
  padding: 0 !important; }

.DesignSystem .u-mv6x {
  margin-top: 24px !important;
  margin-bottom: 24px !important; }

.DesignSystem .Button--inverseFacebook {
  background-color: transparent;
  color: #3b5998; }

.DesignSystem .Button--inverseGoogle {
  background-color: transparent;
  color: #dd4b39; }

.login-hr-heading {
  font-size: 12px; }

.hr-heading {
  display: block;
  overflow: hidden;
  text-align: center;
  white-space: nowrap; }

.hr-heading-text {
  position: relative;
  display: inline-block;
  color: #999; }

.DesignSystem .u-positionRelative {
  position: relative !important; }

.DesignSystem .u-mb8x {
  margin-bottom: 32px !important; }

.DesignSystem .u-mt6x {
  margin-top: 24px !important; }

.DesignSystem label {
  margin-bottom: 12px !important; }

.DesignSystem label {
  display: inline-block;
  max-width: 100%;
  font-weight: bold; }

.DesignSystem .TextInput--dark, .DesignSystem .TextArea--dark {
  background-color: #f8f8f8 !important; }

.DesignSystem .TextInput--lg {
  height: 52px !important;
  line-height: 52px !important;
  padding: 0 17px !important;
  font-size: 14px !important; }

.DesignSystem .TextInput {
  display: block;
  width: 100%;
  height: 44px;
  line-height: 44px;
  padding: 0 14px;
  font-size: 14px;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  box-sizing: border-box; }

label {
  margin-bottom: 12px !important; }

.DesignSystem .u-tcGrayDark {
  color: #999 !important; }

.DesignSystem .u-fs12 {
  font-size: 12px !important; }

.DesignSystem .u-textDecorationNone {
  text-decoration: none !important; }

.DesignSystem .u-pr1x {
  padding-right: 4px !important; }

.checkbox {
  min-height: 20px; }

.DesignSystem .u-m0x {
  margin: 0 !important; }

.DesignSystem .u-fw400 {
  font-weight: 400 !important; }

.DesignSystem .Button1 {
  background-color: #6288a5;
  color: #fff;
  position: relative;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.15);
  vertical-align: bottom;
  white-space: nowrap;
  text-rendering: auto;
  box-sizing: border-box;
  border-radius: 3px;
  font-family: "Roboto",Helvetica,Arial,sans-serif;
  font-weight: bold;
  font-style: normal;
  transition: color .25s ease,background-color .25s ease; }

.margin-0x {
  margin: 0; }

.form-control1 {
  border-radius: 3px;
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.08);
  color: #494848; }

.Button--blue {
  background-color: #6288a5;
  color: #fff; }

.DesignSystem .u-mt20x {
  margin-top: 80px !important; }

.hr-heading-text:before {
  right: 100%;
  margin-right: 15px; }

.hr-heading-text:before, .hr-heading-text:after {
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 1px;
  background: #ddd;
  content: ''; }

.hr-heading-text:after {
  left: 100%;
  margin-left: 15px; }

.hr-heading-text:after {
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 1px;
  background: #ddd;
  content: ''; }

.DesignSystem .TextInput:focus {
  border: 1px solid rgba(65, 138, 202, 0.5);
  outline: 0; }

.DesignSystem .u-mv8x {
  margin-top: 32px !important;
  margin-bottom: 32px !important; }

hr {
  border-top: 1px solid #ddd !important; }

.DesignSystem .Button--inverseFacebook:hover {
  color: #fff;
  background-color: #3b5998; }

.DesignSystem .Button--inverseGoogle:hover {
  color: #fff;
  background-color: #dd4b39; }

.DesignSystem .Button1:hover {
  background-color: #4d6e87;
  color: #fff;
  text-decoration: none; }

.c-signup {
  background: #fff !important; }

.DesignSystem .u-mt3x {
  margin-top: 12px !important; }

.DesignSystem .u-mb6x {
  margin-bottom: 24px !important; }

.DesignSystem .u-pt3x {
  padding-top: 12px !important; }

.DesignSystem .u-pb5x {
  padding-bottom: 20px !important; }

.DesignSystem .u-mv3x {
  margin-top: 12px !important;
  margin-bottom: 12px !important; }

.main {
  margin-top: 32px;
  padding-bottom: 20px; }
  .main .orta {
    margin-top: 100px; }
  .main form input {
    border: 1px solid #cccccc;
    padding-left: 5px; }
  .main .dis {
    width: 416px;
    border-radius: 4px;
    font-size: 14px;
    color: #A94442;
    background-color: #F2DEDE; }
  .main ul {
    list-style-type: none;
    padding: 0;
    margin-left: 5px;
    margin-right: 50px; }
    .main ul li {
      width: 183px; }
      .main ul li a {
        text-decoration: none; }
        .main ul li a div {
          padding: 10px;
          width: 100%;
          border-radius: 5px; }
          .main ul li a div:hover {
            text-decoration: none;
            background: #428BCA;
            color: white; }
  .main img {
    float: left; }
  .main .myac {
    position: relative;
    left: 15px;
    top: 10px;
    font-weight: 600; }
  .main .delete {
    background-color: #5E9F17;
    color: #E0FFFF;
    width: 145px;
    height: 35px;
    border-color: #579415;
    border-radius: 4px;
    margin-left: 263px; }
  .main h4, .main h6 {
    font-weight: bold; }
  .main .setButton {
    margin-right: 50px;
    padding-left: 2px; }
  .main .setImg {
    padding-left: 0; }
  @media (max-width: 900px) {
    .main .main {
      width: 90%;
      margin: 0 auto;
      padding: 0 20px; }
      .main .main form {
        width: 100%;
        text-align: center; }
        .main .main form input {
          width: 100%;
          font-size: 12px; }
        .main .main form textarea {
          width: 100%; }
        .main .main form .delete {
          width: 200px;
          margin: 0;
          font-size: 12px; }
      .main .main .setButton {
        margin-right: 0;
        text-align: center; }
        .main .main .setButton ul {
          width: 100%; }
          .main .main .setButton ul li {
            width: 100%; }
            .main .main .setButton ul li a {
              font-size: 12px; } }

@media (max-width: 1000px) and (min-width: 900px) {
  .removeForm {
    width: 50%;
    float: left; }
  .main {
    margin: 0; }
    .main .mainRow {
      width: 560px;
      margin: 0 auto; }
      .main .mainRow .setButton {
        float: left; } }

body {
  background-color: #F1F1F1; }

.setMain {
  margin-top: 32px;
  padding-bottom: 20px; }
  .setMain .orta {
    margin-top: 100px; }
  .setMain hr {
    background-color: #DDDDDD; }
  .setMain .setChange form {
    width: 415px; }
  .setMain .setInp {
    width: 420px;
    height: 32px;
    border-radius: 4px; }
  .setMain .pageNameInput {
    width: 217px;
    height: 32px;
    border-radius: 4px;
    margin-left: 14px; }
  .setMain .disInput {
    width: 180px;
    height: 32px;
    border-radius: 4px; }
  .setMain form input {
    border: 1px solid #cccccc;
    padding-left: 5px; }
  .setMain ul {
    list-style-type: none;
    padding: 0;
    margin-left: 5px;
    margin-right: 50px; }
    .setMain ul li {
      width: 183px; }
      .setMain ul li a {
        text-decoration: none; }
        .setMain ul li a div {
          padding: 10px;
          width: 100%;
          border-radius: 5px; }
          .setMain ul li a div:hover {
            background: #428BCA;
            color: white; }
  .setMain img {
    float: left; }
  .setMain .myac {
    position: relative;
    left: 15px;
    top: 10px;
    font-weight: 600; }
  .setMain .duyme {
    background-color: #5E9F17;
    color: #E0FFFF;
    width: 55px;
    height: 35px;
    border-color: #579415;
    border-radius: 4px; }
  .setMain h4, .setMain h6 {
    font-weight: bold; }
  .setMain .setButton {
    margin-right: 40px;
    padding-left: 2px; }
  .setMain .setImg {
    padding-left: 0; }
  @media (max-width: 900px) {
    .setMain .setMain {
      width: 90%;
      margin: 0 auto;
      padding: 0 20px; }
      .setMain .setMain form {
        width: 100%;
        text-align: center; }
        .setMain .setMain form input {
          width: 100%; }
      .setMain .setMain .setINp {
        width: 100%; }
    .setMain .setSelect {
      width: 100%; }
    .setMain .saveSet {
      width: 200px; }
    .setMain .orta {
      text-align: center; }
    .setMain .pageNameInput {
      margin-left: 0;
      margin-top: 5px; }
    .setMain .setButton {
      margin-right: 0;
      text-align: center; }
      .setMain .setButton ul {
        width: 100%; }
        .setMain .setButton ul li {
          width: 100%; }
          .setMain .setButton ul li a {
            font-size: 12px; } }

@media (max-width: 1000px) and (min-width: 900px) {
  .setMain {
    width: 90%; }
    .setMain .setInfo {
      float: left;
      width: 45%;
      margin-right: 50px; }
    .setMain .setChange {
      float: left;
      width: 45%; } }

#image {
  width: 200px; }
  #image .image {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden; }
    #image .image img {
      position: absolute;
      left: -25%;
      height: 200px; }

.userinfo {
  border-bottom: solid 1px #ddd;
  border-top: solid 1px  #ddd;
  background-color: #f8f8f8; }
  .userinfo .container {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 75px; }
    .userinfo .container img {
      width: 100%;
      border-radius: 5%; }
  .userinfo button {
    height: 36px;
    border-radius: 4px;
    border: 1px solid #B5B5B5;
    font-size: 11px;
    padding: 0 20px;
    color: white;
    line-height: 36px; }
  .userinfo ul {
    padding-left: 0; }
  .userinfo li {
    font-size: 24px;
    font-family: "Georgia";
    list-style: none; }
  .userinfo .profilimg {
    height: 180px; }

.col-md-2 {
  padding: 0; }

.main, .main2 {
  display: inline-block;
  margin-bottom: 8px; }

.buthov1 {
  background: #92AA4A; }

.buthov2 {
  color: gray !important;
  background: #f8f8f8 !important; }

.buthov1:hover {
  background-color: #6D8036; }

.buthov2:hover {
  background-color: gray !important;
  color: white !important; }

.b {
  color: #777;
  font-size: 12px;
  font-weight: 700; }

.c {
  color: #777;
  font-size: 12px; }

.main4 span {
  height: 50px; }

.main4 ul {
  display: inline-block;
  margin-left: 25px;
  border-left: 1px solid grey;
  height: 35px;
  margin-left: 10px;
  margin-top: 5px; }

.main4 li {
  text-align: center;
  display: inline-block;
  margin-left: 10px;
  padding: 8px;
  padding-right: 0;
  padding-left: 0px; }

.main4 .envelope, .main4 .twitter {
  font-size: 14px; }

.span {
  color: #ddd; }

#designSystems .uv {
  margin-top: 32px;
  margin-bottom: 32px;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-align: center;
  padding: 32px; }

#designSystems .text1 {
  font-size: 24px;
  font-weight: 300 !important;
  font-family: "Roboto",Helvetica,Arial,sans-serif;
  color: #333F52;
  margin-top: 32px; }

#designSystems .test2 {
  color: #7B7B7B;
  font-weight: 100 !important;
  font-family: "Georgia",serif !important;
  font-size: 16px;
  margin: 16px; }

#designSystems .button1 {
  color: #fff;
  text-decoration: none;
  background-color: #92AA4A;
  border: 1px solid #72853A;
  border-radius: 2px;
  margin: 16px;
  padding: 0 25px;
  height: 50px;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: Helvetica;
  font-size: 13px;
  font-weight: bold; }

#designSystems .button2 {
  border: 0 solid #333;
  background-color: white;
  font-weight: 500 !important;
  font-size: 12px;
  letter-spacing: 1.35px;
  font-family: Helvetica;
  color: #9999B2;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0 15px;
  height: 45px;
  border-radius: 2px; }

#designSystems .button2:hover {
  background-color: #999;
  color: white; }

.marginClear {
  margin: 0; }

.paddingClear {
  padding: 0; }

.mainheader {
  height: 76px; }

.userinfo {
  overflow: hidden;
  border-bottom: solid 1px #ddd;
  border-top: solid 1px  #ddd;
  background-color: #f8f8f8; }

.userinfo .container {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 75px; }

.userinfo .container img {
  width: 100%;
  border-radius: 2%; }

.userinfo button {
  height: 36px;
  border-radius: 4px;
  border: 1px solid #B5B5B5;
  font-size: 11px;
  padding: 0 20px;
  color: white;
  line-height: 36px; }

.userinfo ul {
  padding-left: 0; }

.userinfo li {
  font-size: 24px;
  font-family: "Georgia";
  list-style: none; }

.userinfo .profilimg {
  width: 180px;
  height: 180px; }

.col-md-2 {
  padding: 0; }

.usMain, .main2 {
  width: 740px;
  display: inline-block;
  margin-bottom: 8px; }

.buthov1 {
  background: #92AA4A; }

.buthov2 {
  color: !important;
  background: white !important; }

.buthov1:hover {
  background-color: #6D8036; }

.buthov2:hover {
  background-color: #6288A5 !important;
  color: white !important; }

.b {
  color: #777;
  font-size: 12px;
  font-weight: 700; }

.c {
  color: #777;
  font-size: 12px; }

.span {
  color: #ddd; }

#PDF {
  margin-top: 50px; }
  #PDF .col-md-1 {
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    color: #717171;
    letter-spacing: 1.35px;
    font-family: Helvetica; }
  #PDF a {
    font-family: "Georgia";
    color: gray;
    margin-right: 5px; }
  #PDF ul {
    margin-top: 20px;
    margin-left: -40px; }
  #PDF li {
    display: inline-block;
    border-right: 1px solid gray;
    height: 20px;
    text-align: center;
    margin: 5px; }

.padClass {
  padding-left: 40px !important;
  padding-bottom: 15px; }

#mainheader .marginClear {
  margin: 0; }

#mainheader .paddingClear {
  padding: 0; }

#mainheader .mainheader {
  height: 76px; }

#mainheader .userinfo {
  overflow: hidden;
  border-bottom: solid 1px #ddd;
  border-top: solid 1px  #ddd;
  background-color: #f8f8f8; }

#mainheader .userinfo .container {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 75px; }

#mainheader .userinfo .container img {
  width: 100%;
  border-radius: 2%; }

#mainheader .userinfo button {
  height: 36px;
  border-radius: 4px;
  border: 1px solid #B5B5B5;
  font-size: 11px;
  padding: 0 20px;
  color: white;
  line-height: 36px; }

#mainheader .userinfo ul {
  padding-left: 0; }

#mainheader .userinfo li {
  font-size: 24px;
  font-family: "Georgia";
  list-style: none; }

#mainheader .userinfo .profilimg {
  width: 180px;
  height: 180px; }

#mainheader .col-md-2 {
  padding: 0; }

#mainheader .myMain, #mainheader .main2 {
  width: 740px;
  display: inline-block;
  margin-bottom: 8px; }

#mainheader .buthov1 {
  background: #92AA4A; }

#mainheader .buthov2 {
  color: !important;
  background: white !important; }

#mainheader .buthov1:hover {
  background-color: #6D8036; }

#mainheader .buthov2:hover {
  background-color: #6288A5 !important;
  color: white !important; }

#mainheader .b {
  color: #777;
  font-size: 12px;
  font-weight: 700; }

#mainheader .c {
  color: #777;
  font-size: 12px; }

#mainheader .span {
  color: #ddd; }

#mainheader .col-md-1 {
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  color: #717171;
  letter-spacing: 1.35px;
  font-family: Helvetica; }

#mainheader a h4 {
  font-family: "Georgia";
  color: black;
  font-size: 20px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-top: 10px; }

#mainheader ul {
  margin-top: 20px;
  margin-left: -40px; }

#mainheader li {
  display: inline-block;
  border-right: 1px solid gray;
  height: 20px;
  text-align: center;
  margin: 5px; }

#mainheader .padClass {
  padding: 15px !important; }

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background: #F1F1F1; }

#mainFileUpload a {
  margin-top: 20px;
  color: #999999;
  font-weight: bold; }

#mainFileUpload h5 {
  margin-top: 65px;
  margin-bottom: 60px;
  font-size: 20px;
  font-weight: bold; }

#mainFileUpload .chooseFile {
  background: #FFFFFF;
  padding-top: 70px;
  padding-bottom: 70px;
  -webkit-border: 1px dashed lightgrey;
  -moz-border: 1px dashed lightgrey;
  border: 1px dashed lightgrey;
  margin-bottom: 30px; }
  #mainFileUpload .chooseFile h4 {
    margin-bottom: 30px; }
  #mainFileUpload .chooseFile #yourBtn {
    margin: 0 auto;
    color: #FFFFFF;
    font-family: calibri;
    width: 266px;
    padding-top: 15px;
    padding-bottom: 15px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border: 1px solid green;
    text-align: center;
    background-color: #92AA4A;
    cursor: pointer;
    font-weight: bold; }
    #mainFileUpload .chooseFile #yourBtn:hover {
      background: #73863b; }

/*  Search  */
#search .container {
  margin: 20px auto;
  background-color: #fff; }
  #search .container .headerPadding {
    padding: 36px; }
  #search .container .col-md-12 h2 {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    color: #494848;
    vertical-align: baseline; }
  #search .container .title h3 {
    margin: 0; }
    #search .container .title h3 a {
      color: #484b4e;
      font-size: 14px;
      font-weight: 600; }
  #search .container .subtitle {
    padding-bottom: 15px;
    color: #616161;
    font-size: 11px;
    font-weight: 400;
    line-height: 22px; }
  #search .container .search_result a {
    padding: 5px 5px 5px 20px;
    line-height: 25px;
    font-size: 16px;
    display: block; }
  #search .container .tagsName {
    padding: 24px 0; }
    #search .container .tagsName .col-md-2 a {
      color: #06c;
      text-decoration: none;
      font-size: 11px;
      border: 1px solid  #e5e5e5;
      padding: 3px 6px;
      margin-bottom: 5px;
      display: block; }
      #search .container .tagsName .col-md-2 a:hover {
        background-color: #f1f1f1; }
  #search .container #people p {
    margin: 0; }
  #search .container #people .img {
    display: inline-block;
    max-width: 65px;
    position: relative;
    overflow: hidden; }
    #search .container #people .img img {
      max-height: 65px; }
  #search .container #people .info {
    vertical-align: top;
    padding-left: 10px;
    display: inline-block; }
    #search .container #people .info h3 {
      vertical-align: super;
      line-height: 10px; }
      #search .container #people .info h3 a {
        font-size: 12px;
        font-weight: 700;
        color: #06c; }
    #search .container #people .info p {
      margin-top: 15px; }
      #search .container #people .info p a {
        font-size: 11px;
        font-weight: 600;
        margin-top: 20px;
        color: #75ace3; }
  #search .container #people .button {
    display: inline-block; }
  #search .container #people .btn {
    font-size: 14px !important;
    font-weight: 600;
    color: #fff !important;
    margin: 15px 0; }
  #search .container #interest .search_result a {
    border-bottom: 1px solid #eee;
    color: #484b4e;
    font-weight: 600; }
  #search .container #interest .subtitle {
    padding: 0; }
  #search .container #university .subtitle {
    padding: 0; }
  #search .container #department .subtitle {
    padding: 0; }

@media (max-width: 850px) {
  #search #people .col-md-12 .button {
    text-align: center;
    display: block;
    float: none !important; } }

@media (max-width: 611px) {
  #people .col-md-12 {
    text-align: center; }
    #people .col-md-12 .info {
      display: block; } }

/* Search result */
#search_result {
  position: relative; }
  #search_result .title {
    padding: 60px 0;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd; }
    #search_result .title .col-md-10 h1 {
      font-size: 30px;
      color: #333;
      line-height: 44px; }
    #search_result .title .col-md-10 p {
      color: #999;
      font-size: 14px;
      font-weight: 400; }
    #search_result .title .col-md-2 a {
      margin: 20px 0;
      padding: 0 12px;
      line-height: 34px;
      text-transform: uppercase;
      letter-spacing: 1.15px;
      background-color: #92aa4a;
      font-size: 11px;
      font-weight: 600; }
      #search_result .title .col-md-2 a:hover {
        background-color: #73863b; }
  #search_result .category {
    padding: 24px; }
    #search_result .category a {
      padding: 2px 10px;
      color: #666;
      font-size: 13px; }
      #search_result .category a:hover {
        text-decoration: none;
        color: #222; }
  #search_result .resultPeople {
    background-color: #fff;
    padding-top: 86px;
    border-top: 1px solid #ddd; }
    #search_result .resultPeople .container {
      position: relative; }
      #search_result .resultPeople .container .col-md-12 .img-container {
        display: inline-block; }
        #search_result .resultPeople .container .col-md-12 .img-container .img-icon {
          width: 52px;
          border-radius: 5px;
          overflow: hidden;
          display: inline-block; }
          #search_result .resultPeople .container .col-md-12 .img-container .img-icon img {
            height: 52px; }
      #search_result .resultPeople .container .col-md-12 .info {
        display: inline-block;
        padding-left: 5px;
        padding-top: 9px;
        vertical-align: top; }
        #search_result .resultPeople .container .col-md-12 .info .number {
          font-weight: 700; }
        #search_result .resultPeople .container .col-md-12 .info .grayLight {
          color: #ddd; }
        #search_result .resultPeople .container .col-md-12 .info .fa {
          font-size: 11px;
          color: #777; }
        #search_result .resultPeople .container .col-md-12 .info p a {
          color: #777;
          font-weight: 700;
          font-size: 14px;
          text-decoration: none; }
        #search_result .resultPeople .container .col-md-12 .info span {
          font-size: 12px;
          color: #777; }
      #search_result .resultPeople .container .col-md-12 .button-container {
        float: right; }
        #search_result .resultPeople .container .col-md-12 .button-container .button {
          background-color: transparent;
          color: #92aa4a;
          height: 36px;
          line-height: 36px;
          font-size: 11px;
          padding: 0 18px;
          margin-top: 10px;
          text-transform: uppercase;
          border: 1px solid rgba(0, 0, 0, 0.15);
          border-radius: 3px;
          font-weight: bold;
          transition: color .25s ease,background-color .25s ease; }
          #search_result .resultPeople .container .col-md-12 .button-container .button:hover {
            color: #fff;
            background-color: #92aa4a; }
  #search_result .resultDocument {
    background-color: #fff;
    padding-top: 60px;
    border-top: 1px solid #ddd; }
    #search_result .resultDocument .moreButton {
      margin-bottom: 15px; }
  @media (max-width: 430px) {
    #search_result .resultPeople .col-md-12 {
      text-align: center; }
      #search_result .resultPeople .col-md-12 .img-container {
        display: block !important; }
        #search_result .resultPeople .col-md-12 .img-container .img-icon {
          margin: 0 auto; } }
  @media (max-width: 550px) {
    #search_result .resultDocument .paperMenu {
      text-align: center; }
      #search_result .resultDocument .paperMenu h5 {
        font-size: 10px; } }
  @media (max-width: 765px) {
    #search_result .resultDocument .paperMenu {
      text-align: center; }
    #search_result .button-container {
      float: none !important;
      text-align: center; }
      #search_result .button-container .button {
        margin: 0 auto; } }

body, div {
  display: block; }

/*# sourceMappingURL=style.css.map */
